{{ define "main" }}

<div class="ph3 bg-off-white">
  <div class="center mw6">
    <img src="{{ .Params.logo }}" alt="" class="db w5 center pv4">

    <div class="flex-ns justify-between">
      {{ range .Params.contact_entries }}
      <div class="mv4">
        <h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
        <p>
          {{ .text }}<br>
          {{ .detail0 }}<br>
          {{ .detail1 }}<br>
          {{ .detail2 }}
        </p>
      </div>
      {{ end }}
    </div>

    <div style="border: 2px solid var(--primary); border-radius: var(--border-radius);" class="center pa1 mw6">
      <iframe
        frameborder="0"
        height="450"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d954.5242566527536!2d9.381511817128317!3d47.415797255640236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b1fac4f5569f3%3A0x4567b1d3286dd86b!2sSt.%20Georgen-Strasse%2098%2C%209011%20St.%20Gallen!5e0!3m2!1sen!2sch!4v1567237015362!5m2!1sen!2sch"
        style="border: 0; display: block"
        width="100%"></iframe>
    </div>

    {{ partial "contact-form" . }}
  </div>
</div>
{{ end }}
